*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,
ol,
li{
    list-style: none;
}
button{
    cursor: pointer;
}

html, body{
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}
.wrapped{
    min-height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1440px;
    padding: 0px 20px;
    margin: 0 auto;
}
.header{}
.header-container{
    width: 100%;
    height: 70px;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:rgba(124, 104, 238, 0.575);
}
.title-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 60px;
    height: 60px;
    background-image: url(assets/icon/idea.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px 60px;
    border: 1px solid orange;
    border-radius: 20px;

}
h1{
    font-size: 42px;
    margin-left: 20px;
}

.settings{
    width: 60px;
    height: 60px;
    background-image: url(assets/icon/settings.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(212, 211, 211, 0.459);
    border-radius: 30px;
}
.settings-block{
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 18px;
    
}
p{
    text-align: center;
    margin-bottom: 15px;
}
.settings-body{
    display: none;
    opacity: 0;
    padding: 10px;
    width: 250px;
    height: 160px;
    position: absolute;
    top: 70px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
    transition: all 0.8s;
}
.settings-body.open{
    display: block;
    opacity: 1;
    transition: all 0.8s;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
select{
    background-color: rgb(190, 188, 188);
    border-radius: 10px;
    font-size: 24px;
}
.volume-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.volume{
    width: 50px;
    height: 50px;
    background-image: url(assets/icon/volume.png);
    background-position: 0 0;
    background-size: cover;
    margin-right: 10px;
}
.volume:hover{
   
    filter: invert(10%) sepia(86%) saturate(0%) hue-rotate(200deg) brightness(96%) contrast(100%);
}
.volume.mute{
    filter: invert(5%) sepia(100%) saturate(6868%) hue-rotate(4deg) brightness(96%) contrast(50%);
}
input{
    
    cursor:pointer;
    width: 150px;
}


.main-container{
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.memory-cards{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 700px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
.memory-card{
    position: relative;
    margin: 5px;
    width: calc(20% - 10px);
    height: calc(25% - 10px);
    transform: scale(1);
    transition: 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 5px white;
    user-select: none;
}
.memory-card:active{
    transform: scale(0.96);
    transition: 0.3s;
    
}
.memory-card.flip{
    transform: rotateY(180deg);
}
.front-card,
.back-card{
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color:darkgreen;
    backface-visibility: hidden;
}
.front-card{
    padding: 30px;
    transform: rotateY(180deg);
    background-color: #fff;
}
.window{
    display: block;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url(assets/image/ballon640.jpg);
    
    background-size: 640px 600px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.8s ease-in-out;
}
.window.open{
    top: 0;
    opacity: 1;
    
}

.window-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: -50%;
    opacity: 0;
    background-color:rgba(247, 231, 142);
    color: black;
    border-radius: 5px;
    transform: translate(-50%, -50% );
    transition: all 2s;
}
.window.open .window-body{
    opacity: 1;
    left: 50%;
}
.start{
    margin-top: 30px;
    width: 150px;
    height: 50px;
    background-color:crimson;
    border: none;   
    color: white;
    font-size: 24px;
    border-radius: 15px;
    transition: 0.4s;
}
.start:hover{
    box-shadow: 0px 2px 5px 2px whitesmoke;
    background-color: rgba(220, 20, 60, 0.85);
}

.footer-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(124, 104, 238, 0.575);
    font-size: 18px;
}